/* input.ng-touched.ng-invalid{
    border-color: darkred;
    border-width: 5px;
} */


:host ::ng-deep .p-dropdown {
    width: 14rem;
}

.country-item-value {
    img.flag {
        width: 17px;
    }
}