<div class="container">
    <form [formGroup]="studentEditForm" (ngSubmit)="OnSubmit()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="FirstName"
                        aria-describedby="helpId" placeholder="First Name">
                    <small id="helpId"
                        *ngIf="studentEditForm.controls.FirstName.errors?.required && studentEditForm.controls.FirstName.touched"
                        class="form-text alert alert-danger">* Mandatory</small>
                    <small id="helpId"
                        *ngIf="studentEditForm.get('FirstName').errors?.minlength || studentEditForm.get('FirstName').errors?.maxlength"
                        class="form-text alert alert-danger">Invalid First Name</small>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="LastName"
                        aria-describedby="helpId" placeholder="Last Name">
                    <small id="helpId"
                        *ngIf="studentEditForm.get('LastName').errors?.required && studentEditForm.get('LastName').touched"
                        class="form-text alert alert-danger">* Mandatory</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="emailId">Email Id</label>
                    <input type="email" class="form-control" formControlName="EmailId" id="emailId"
                        aria-describedby="emailHelpId" placeholder="Email Id">
                    <small id="helpId"
                        *ngIf="studentEditForm.get('EmailId').errors?.required && studentEditForm.get('EmailId').touched"
                        class="form-text alert alert-danger">* Mandatory</small>
                    <small id="helpId" *ngIf="studentEditForm.get('EmailId').errors?.email"
                        class="form-text alert alert-danger">* Invalid Email Id</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="mobileNo">Mobile No</label>
                    <input type="text" class="form-control" id="mobileNo" formControlName="MobileNo"
                        aria-describedby="helpId" placeholder="Mobile No">
                    <small id="helpId"
                        *ngIf="studentEditForm.get('MobileNo').errors?.required && studentEditForm.get('MobileNo').touched"
                        class="form-text alert alert-danger">* Mandatory</small>
                </div>
            </div>
            <div class="col-md-4">
                Notification Type:
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="NotificationType" value="email">
                        Email Id
                        <input class="form-check-input" type="radio" formControlName="NotificationType" value="mobile">
                        Mobile No
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label for="age">Age</label>
                  <input type="number"
                    class="form-control" id="age" formControlName="Age" aria-describedby="helpId" placeholder="">
                  <small id="helpId" *ngIf="studentEditForm.get('Age').errors?.required && studentEditForm.get('Age').touched" class="form-text alert alert-danger">Age Mandatory</small>
                  <small id="helpId" *ngIf="studentEditForm.get('Age').errors?.range && studentEditForm.get('Age').dirty" class="form-text alert alert-danger">Invalid Age</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" formControlName="TermsAndConditions">
                    Terms And Conditions
                  </label>
                </div>
            </div>   
            <div class="col-md-4">
                <div *ngIf="studentEditForm.get('TermsAndConditions')?.value" class="card"> 
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Terms and Conditions</h4>
                        <p class="card-text">Show this when Terms and conditions is checked</p>
                    </div>
                </div>
            </div>             
        </div>
        <div class="card border-primary" formGroupName="Address">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addLine1">Add Line 1</label>
                            <input type="text" class="form-control" id="addLine1" aria-describedby="helpId"
                                formControlName="AddLine1" placeholder="Address Line 1">
                            <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addLine2">Add Line 2</label>
                            <input type="text" class="form-control" id="addLine2" aria-describedby="helpId"
                                formControlName="AddLine2" placeholder="Address Line 2">
                            <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addLine3">Add Line 3</label>
                            <input type="text" class="form-control" id="addLine3" aria-describedby="helpId"
                                formControlName="AddLine3" placeholder="Address Line 3">
                            <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control" id="city" formControlName="City">
                                <option *ngFor="let city of cities">{{city.name}}</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="state">State</label>
                            <select class="form-control" id="state" formControlName="State">
                                <option>Maharashtra</option>
                                <option>Odisha</option>
                                <option>West Bengal</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <button [disabled]="studentEditForm.invalid" type="submit" class="btn btn-primary">Submit</button> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </form>
</div>