<!-- <h3 basic-highlight>Products List</h3> -->
<!-- <h3 better-highlight [bgColor]="'chartreuse'">Products List</h3> -->
<!-- <h3 better-highlight bgColor="maroon">Products List</h3> -->
<h3 [better-highlight]="'chartreuse'" highlight="maroon" >Products List</h3>
<!-- <button type="button" class="btn btn-primary" (click)="IdTest()">Test</button> -->
<!-- *ngIf="products.length>0 else noproducts" -->

<!-- <ng-template #noproducts>
    <div class="alert alert-info" role="alert">
        <strong>No Products Available</strong>
    </div>
</ng-template> -->
<!-- 
<div class="alert alert-success" *ngIf="childData.length>0" role="alert">
    <strong>Hello {{childData}}</strong>
</div> -->
<div class="row">
    <div style="margin-left: 20px;" class="col-md-2">
        Filter Product :
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Filter Product">
        </div>
    </div>
    <div class="col-md-2">
        <!-- <button type="button" (click)="UpdateProductsList()" class="btn btn-primary">Pipe Test</button> -->
        <span *unless="filterText.length==0" class="alert alert-info">{{filterText}}</span>
        <!-- <span *ngIf="filterText.length>0" class="alert alert-info">{{filterText}}</span> -->
    </div>
    <div class="col-md-2">
        <button type="button" (click)="AddProduct()" class="btn btn-primary">Add Product</button>        
    </div>
</div>
<div class="row">
    <!-- <div style="margin-bottom: 10px;" *ngFor="let prod of products; let i=index" class="col-md-4">
        <product-thumbnail [product]="prod" (parentData)="ChildDataReceived($event)" ></product-thumbnail> 
        <product-thumbnail [productDetails]="prod" (pd)="ChildDataReceived($event)" ></product-thumbnail>
    </div> -->

    <product-thumbnail *ngFor="let prod of products | filter : filterText: 'productName':'productCode':'productId'" class="col-md-4" [productDetails]="prod"
        (pd)="ChildDataReceived($event)"></product-thumbnail>
</div>