@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* h1{
    background-color: aqua;
} */


/* h3{
    background-color: darkcyan;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
